<div class="row">
	<div class="col-lg-6">
		<h2 class="page-header" style="margin-left: 0%;border-bottom-style: default; border-bottom-width: 1px; border-bottom-color: black;">Alterar dados de Professor</h2>
	</div>
</div>
<%= render 'form', professor: @professor %>
