                            <li>
                                <a href="/professors/" onclick=""><i class="fa fa fa fa-group fa-fw"></i> Professores</a> 
                            </li>
                            <li>
                                <a href="/funcionarios/" onclick=""><i class="fa fa fa fa-group fa-fw"></i> Funcionários</a> 
                            </li>
                            <li>
                                <a href="#" style="color:black"><i class="fa fa-group fa-fw"></i> Estudantil<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/alunos/" onclick=""><i class="fa fa fa fa-group fa-fw"></i> Lista de Alunos</a>
                                    </li>
                                    <li>
                                        <a href="/avaliacaos/" onclick=""><i class="fa fa fa fa-group fa-fw"></i> Avaliações</a>
                                    </li>
                                    <li>
                                        <a href="/frequenciaalunos/" onclick=""><i class="fa fa fa fa-group fa-fw"></i> Frequências</a>
                                    </li>
                                    <li>
                                        <a href="/mat_turmas/" onclick=""><i class="fa fa-edit fa-fw"></i> Matricular em Turma</a> 
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" style="color:black"><i class="fa fa-cogs fa-fw"></i> Gerenciamento<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/relatorios/" onclick=""><i class="fa fa-book fa-fw"></i> Relatorios - Temp</a>
                                    <li>
                                        <a href="/disciplinas/" onclick=""><i class="fa fa-book fa-fw"></i> Disciplinas</a> 
                                    </li>
                                    <li>
                                        <a href="/turmas/" onclick=""><i class="fa fa-folder-o fa-fw"></i> Lista de Turmas</a>
                                    </li>
                                    <li>
                                        <a href="/salas/" onclick=""><i class="fa fa-folder-o fa-fw"></i> Lista de Salas</a> 
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>