<div class="row">
	<div class="col-lg-3">
		<h2 class="page-header" style="margin-left: 0%;border-bottom-style: default; border-bottom-width: 1px; border-bottom-color: black;">Nova Sala</h2>
	</div>
</div>
<%= render 'form', sala: @sala %>