<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Eliakim">

    <title>Sistema Escolar</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="wrapper" style="background-color: #FFF">
    <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #4682B4;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: #FFF">Algoaqui</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown" style="color:black">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color: #4682B4; border-radius: 100px; border-style: ridge; border-width: 1px; border-color: #4682CC #4682DD #4682DD">
                        <i class="fa fa-user fa-fw" style="color:white"></i> <i class="fa fa-caret-down" style="color:white"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style="background-color: white">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href=".." onclick="window.location.reload(true);"><i class="fa fa fa fa-group fa-fw"></i> Início</a> 
                        </li>
                        <li>
                            <a href="/professors/" onclick="window.location.reload(true);"><i class="fa fa fa fa-group fa-fw"></i> Professores</a> 
                        </li>
                        <li>
                            <a href="/funcionarios/" onclick="window.location.reload(true);"><i class="fa fa fa fa-group fa-fw"></i> Funcionários</a> 
                        </li>
                        <li>
                            <a href="#" style="color:black"><i class="fa fa-group fa-fw"></i> Estudantil<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/alunos/" onclick="window.location.reload(true);"><i class="fa fa fa fa-group fa-fw"></i> Lista de Alunos</a>
                                </li>
                                <li>
                                    <a href="/avaliacaos/" onclick="window.location.reload(true);"><i class="fa fa fa fa-group fa-fw"></i> Avaliações</a>
                                </li>
                                <li>
                                    <a href="/mat_turmas/" onclick="window.location.reload(true);"><i class="fa fa-edit fa-fw"></i> Matricular em Turma</a> 
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" style="color:black"><i class="fa fa-cogs fa-fw"></i> Gerenciamento<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/relatorios/" onclick="window.location.reload(true);"><i class="fa fa-book fa-fw"></i> Relatorios - Temp</a>
                                <li>
                                    <a href="/disciplinas/" onclick="window.location.reload(true);"><i class="fa fa-book fa-fw"></i> Disciplinas</a> 
                                </li>
                                <li>
                                    <a href="/turmas/" onclick="window.location.reload(true);"><i class="fa fa-folder-o fa-fw"></i> Lista de Turmas</a>
                                </li>
                                <li>
                                    <a href="/salas/" onclick="window.location.reload(true);"><i class="fa fa-folder-o fa-fw"></i> Lista de Salas</a> 
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
          <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <%= yield %>
                
                       
            

            <!-- /.container-fluid -->
        </div>
  </div>
 
  </body>
</html>
